<div class="header">
  <span class="title">{{ title }} Assignment</span>
</div>
<div class="mainContent d-flex flex-row bd-highlight mb-3">
  <div class="mainContent" *ngFor="let item of demoArray; let i = index">
    <input hidden type="file" #imageInput accept="image/*" (change)="processFile($event, i)" #file>
    <div class="box" (click)="file.click(i)"><img *ngIf="item" class="uploadedImg" src="{{ item }}" height="100"> <br/></div>
    <div style="text-align: center;"><button *ngIf="item" class="btn-primary" (click)="deleteImg(i)">Delete</button></div>
  </div>
</div>